# fly.toml app configuration file generated for videocall on 2025-12-21T19:03:37+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'videocall'
primary_region = 'fra'
kill_signal = 'SIGTERM'

[build]

[deploy]
  strategy = 'immediate'
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'videocall.fly.dev'
  PORT = '8080'
  PRIMARY_REGION = 'fra'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '15s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 512
