@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* custom fonts */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: none;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: none;
  font-weight: 500;
  font-style: normal;
}

.roboto-semibold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: none;
  font-weight: 600;
  font-style: normal;
}

.contacts-shadow {
  box-shadow:
    0px 3px 14px rgba(19, 0, 33, 0.12),
    0px 5px 5px rgba(19, 0, 33, 0.2);
}
