name: PR

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize

jobs:
  compile:
    name: Install deps and compile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Install Project dependencies
        env:
          MIX_ENV: test
        run: mix deps.get
      - name: Compile
        env:
          MIX_ENV: test
        run: mix compile
      - name: Save dependencies cache
        uses: actions/cache/save@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps

  credo:
    needs: compile
    name: Credo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Check code formatting and consistency
        env:
          MIX_ENV: test
        run: mix credo --strict

  deps_audit:
    needs: compile
    name: Deps audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Check for vulnerable Mix dependencies
        env:
          MIX_ENV: test
        run: mix deps.audit

  dialyzer:
    needs: compile
    name: Dialyzer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Restore PLT cache
        uses: actions/cache/restore@v4
        with:
          key: plt-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-${{ github.sha }}
          path: priv/plts
          restore-keys: |
            plt-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Create PLTs
        env:
          MIX_ENV: test
        run: mix dialyzer --plt
      - name: Run dialyzer
        env:
          MIX_ENV: test
        run: mix dialyzer
      - name: Save PLT cache
        uses: actions/cache/save@v4
        with:
          key: plt-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-${{ github.sha }}
          path: priv/plts

  format:
    needs: compile
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Check Elixir formatting
        env:
          MIX_ENV: test
        run: mix format --check-formatted

  hex_audit:
    needs: compile
    name: Hex audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Check for retired Hex packages
        env:
          MIX_ENV: test
        run: mix hex.audit

  migrations:
    services:
      db:
        image: pgvector/pgvector:pg15
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    needs: compile
    name: Migrations
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Setup DB
        env:
          MIX_ENV: test
        run: mix do ecto.create --quiet, ecto.migrate --quiet
      - name: Check if migrations are reversible
        env:
          MIX_ENV: test
        run: mix ecto.rollback --all --quiet

  prettier:
    name: Check formatting using Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Restore npm cache
        uses: actions/cache/restore@v4
        id: npm-cache
        with:
          key: npm-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: node_modules
          restore-keys: |
            npm-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Install Prettier
        if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm i -D prettier prettier-plugin-toml
      - name: Run Prettier
        run: npx prettier -c .
      - name: Save npm cache
        uses: actions/cache/save@v4
        with:
          key: npm-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-${{ github.sha }}
          path: node_modules

  unused_deps:
    needs: compile
    name: Check unused deps
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Check for unused Mix dependencies
        env:
          MIX_ENV: test
        run: mix deps.unlock --check-unused

  test:
    services:
      db:
        image: pgvector/pgvector:pg15
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    needs: compile
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - id: setup-beam
        name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict
      - name: Restore dependencies cache
        uses: actions/cache/restore@v4
        with:
          key: mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ github.sha }}
          path: |
            _build
            deps
          restore-keys: |
            mix-${{ runner.os }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
      - name: Run tests
        env:
          MIX_ENV: test
        run: mix test --cover --warnings-as-errors

  deploy_preview_app:
    name: Deploy preview app
    needs:
      - compile
      - credo
      - deps_audit
      - dialyzer
      - format
      - hex_audit
      - migrations
      - prettier
      - test
      - unused_deps
    runs-on: ubuntu-latest
    permissions: write-all
    concurrency:
      group: pr-${{ github.event.number }}
    environment:
      name: pr-${{ github.event.number }}
      url: https://video-call-pr-${{ github.event.number }}.fly.dev
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Delete previous deployments
        uses: strumwolf/delete-deployment-environment@v2.2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: pr-${{ github.event.number }}
          ref: ${{ github.head_ref }}
          onlyRemoveDeployments: true
      - name: Deploy preview app
        uses: optimumBA/fly-preview-apps@main
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
          FLY_ORG: kinyuadean@gmail.com
          FLY_REGION: fra
          PHX_HOST: video-call-pr-${{ github.event.number }}.fly.dev
          REPO_NAME: elixir_drops
        with:
          name: video-call-pr-${{ github.event.number }}
          secrets: SECRET_KEY_BASE=${{ secrets.SECRET_KEY_BASE }}
